body{
 background-image: url("/images/explosion.png");
 background-repeat: repeat;
 background-size: 100px;
 background-color: #cccccc;
}
#root {
  background-color: #fefefefe;
  border-radius: 8px;
  border: 1px solid;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

h2, h3 {
  font-weight: 500;
}

button {
  font-size: 1em;
  font-family: inherit;
  border-radius: 8px;
  border: 1px solid transparent;
  border-color: rgb(240, 176, 57);
  padding: .5rem 1rem;
  background-color: #fff;
  cursor: pointer;
}
button:hover{
  background-color: grey;
  color: #fff;
}

footer {
  justify-self: center;
}

footer p, h2{
  margin: 0.3rem;
}

/*
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
*/